<style>
  .dropdown:hover>.dropdown-menu {
display: block;
}

.dropdown>.dropdown-toggle:active {

  pointer-events: none;
}
</style>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://127.0.0.1:8000/index/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          News
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" href="http://127.0.0.1:8000/bbc/" style="background-color: ">BBC News</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/news/" style="background-color: ">TOI News</a>

        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/report/">Weather</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/index1/">Todo <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/diary/">Diary <span class="sr-only">(current)</span></a>
      </li>

      

      


      <li class="nav-item active">
        <a class="nav-link " href="http://127.0.0.1:8000/imgs/">Images <span class="sr-only">(current)</span></a>
      </li>


           <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Games
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          
          <a class="dropdown-item" href="http://127.0.0.1:8000/fun/" style="background-color: ">Jumbbled Words</a>

        </div>
      </li>






      
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Records
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://127.0.0.1:8000/insert/" style="background-color: ">Insert <span class="sr-only">(current)</span></a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/show/" style="background-color: ">Show</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/update/" style="background-color:">Update</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/delete/" style="background-color: ">Delete</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/search/" style="background-color: ">Search</a>

        </div>
      </li>
    </li>
    <li class="nav-item active" style="margin-left: 800px;">
      <a class="nav-link" href="http://127.0.0.1:8000/logout/">Logout <span class="sr-only">(current)</span> <i class="fa fa-sign-out"></i>  </a>
    </li>
    </ul>
  </div>
</nav>